.toggle-favorite-place {
    position: absolute;
    top: 17px;
    left: 19px;
    left: calc(env(safe-area-inset-left) + 19px);
    padding: 0 7px;
    border: 1px solid var(--color-black);
    border-radius: 20px;
    background-color: var(--color-white);
    box-shadow: 0 0 10px 0 rgba(#000, 0.1);
    font-size: 14px;
    color: var(--color-black);
    line-height: 22px;
    cursor: pointer;
    z-index: 10;

    &[aria-checked='true'] {
        background-color: var(--color-blue-600);
        color: var(--color-white);

        svg {
            rect {
                fill: var(--color-white);
            }

            path {
                fill: var(--color-blue-600);
            }
        }
    }

    svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 3px 4px 0 0;
        vertical-align: top;

        rect {
            fill: var(--color-blue-600);
        }

        path {
            fill: var(--color-white);
        }
    }
}

.toggle-favorite {
    position: absolute;
    top: 17px;
    right: 13px;
    right: calc(env(safe-area-inset-left) + 13px);
    line-height: 1px;
    cursor: pointer;
    z-index: 10;

    &[aria-checked='true'] {
        svg {
            rect {
                fill: var(--color-blue-600);
            }
        }
    }

    &[aria-disabled='true'] {
        opacity: 0.4;
        pointer-events: none;
        cursor: default;
    }

    svg {
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: top;

        rect {
            fill: var(--color-gray-600);
        }

        path {
            fill: var(--color-white);
        }
    }
}

.button-current {
    position: absolute;
    left: 17px;
    left: calc(env(safe-area-inset-left) + 17px);
    bottom: 11px;
    border-radius: 50%;
    padding: 6px;
    background-color: var(--color-white);
    box-shadow: 0 0 10px 0 rgba(#000, 0.25);
    color: var(--color-blue-600);
    z-index: 10;

    svg {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: top;
    }
}