html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, figure {
    margin: 0;
    padding: 0;
}

section, article, aside, nav, main, header, footer, figure {
    display: block;
}

body, input, textarea, select, button, table {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;
    line-height: 1.2;
}

html,
body {
    height: 100%;
}

body {
    -webkit-text-size-adjust: none;
}

form, fieldset, button, img {
    border: 0;
    vertical-align: top;
}

ul, ol {
    list-style: none;
}

a, button, input, select, label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
}

label {
    cursor: pointer;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}


button {
    background-color: transparent;
    cursor: pointer;
    touch-action: manipulation;

    &[disabled] {
        cursor: default;
    }
}

textarea {
    border: 0;
    border-radius: 0;
    appearance: none;
    outline: none;
    resize: none;
}
